body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #FFFFFF;
  color: #000000;
  -webkit-font-smoothing: antialiased;
}

.swiss-button {
  background: #FF4400; /* Тот самый оранжевый */
  color: white;
  border: none;
  font-weight: 900;
  text-transform: uppercase;
  transition: opacity 0.2s;
}

.swiss-button:active {
  opacity: 0.8;
}
